body {
  background: ghostwhite;
  color: dimgray;
  font-family: serif;
  text-align: center;
  height: 100dvh;
  margin: 0;
  box-sizing: border-box;
}

#container {
  border-radius: 5px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 2rem;
}

.box {
  display: inline-block;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

span {
  position: absolute;
  font-size: 75px;
  font-family: sans-serif;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.alert {
  width: 120px;
  background: ghostwhite;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 0 75px 2px dimgray;
  animation: larger 0.5s;
  animation-fill-mode: forwards;
  padding: 30px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

button {
  background: dimgray;
  border-radius: 4px;
  color: ghostwhite;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 4px;
}

button:focus {
  background: silver;
}

.activeBox {
  background: silver;
}

@keyframes larger {
  from {
    width: 125px;
  }

  to {
    width: 250px;
  }
}
